<div>
    <nav>
        {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
        {{ end }}
    </nav>
</div>