{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ range .Pages.ByPublishDate.Reverse }}
        <p>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ partial "metadata.html" .}}
            <a href="{{ .RelPermalink }}">
                <p>{{ .Summary }}</p>
            </a>
        </p>
    {{ end }}
{{ end }}